{% extends 'base.html.twig' %}

{% block title %}{{ title|capitalize }} Page {% endblock %}

{% block body %}

<div class="pure-g">
	<div class="pure-u-1 setborder margintop15 padding10">
		{{content}}
	</div>
</div>
{% endblock %}